/* Main container and board styling */
body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

/* Game board */
#game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    position: relative;
    width: 100%;
    max-width: 600px; /* Ensures board scales on large screens */
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    margin: 20px auto;
    overflow: hidden;
    background-image: url('../img/snakes.jpeg'); /* Image background here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Individual cell styling */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    z-index: 0;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 20px;
}

.reset-button{
    background-color: red;
    margin: 10px;
}

#Go-Back {
    background-color: red;
    cursor: pointer;
}

#playerX {
    position: relative;
    background-color: #ed6a6a;
    width: auto;
    height: auto;
    font-size: larger;
}

#playerO {
    position: relative;
    background-color: rgb(89, 89, 242);
    width: auto;
    height: auto;
    font-size: larger;
}

/* Player colors */
.player-X {
    /* background-color: red; Emoji for player X  */
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, red, darkred);
    border-radius: 50% 50% 0 0;
    position: relative;
    bottom: -50%;
    left: 25%;
}
    
.player-X::before {
    content: "X";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 75%;
    background-color: #FF4D4D;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: -15px;
}

.player-O {
    /* background-color: blue; Emoji for player O  */
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, blue, darkblue);
    border-radius: 50% 50% 0 0;
    position: relative;
    transform: translate(5px, 5px);
    bottom: -40%;
    left: 20%;
}

.player-O::before {
    content: "O";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 75%;
    background-color: #4D4DFF;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    top: -15px;
}

.dice-image {
    width: 60px;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    #game-board {
        width: 90%;
    }

    #dice-image {
        width: 50px;
    }

    #dice-result, #turn-indicator {
        font-size: 16px;
    }
}